/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: #1e1e2f;
  color: #fff;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.nav a:hover {
  color: #ff9800;
}

/* .cart {
  position: relative;
  cursor: pointer;
} */

/* .cart-icon {
  font-size: 24px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
} */

/* //product card ============= */



.info {
  padding: 15px;
  text-align: center;
}

.product-info h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

/* .price {
  font-size: 16px;
  color: #ff5722;
  font-weight: bold;
  margin-bottom: 8px;
} */

.desc {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
}

button {
  width: 50%;
  padding: 10px;
  background: #1e88e5;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #3115c0;
}
.remove-button{
  background-color: #ff5722;
  margin-top: 12px;
}
.remove-button:hover{
  background-color: #14537b;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px, 1fr));
  gap: 20px;
}